ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=cafeemployee;Username=postgres;Password=postgres
Cors__AllowedOrigins__0=http://localhost:3000
Cors__AllowedOrigins__1=http://localhost:5173
